@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header h1{
  text-align: center;
}

.pokemonForm{
  margin: 10px auto;
  background-color: #eee;
  padding: 1rem;
  border-radius: 15px;
  height: auto;
}

.pokeContainer{
  display: flex;
  margin: 10px auto;
  gap: 5px;
  width: fit-content;
}

.mainTypeImg{
  width: 1rem !important;
  height: auto;
}


.search{
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

p img{
  width: 150px;
  height: auto;
}

.search input{
  margin: 0 auto;
  width: 80%;
  padding: .5rem !important;
  border-radius: 10px;
}

label{
  margin-left: .2rem;
}


/* MAIN POKEMON CONTAINER SECTION */
.imageType{
  background-color: #eee;
  border-radius: 15px !important;
  padding: 25px;
  width: fit-content;
}

.mainImg{
  margin: 5px auto;
  height: 10rem;
  width: auto;
}

.imageType h1{
  text-align: center;
}

.stats{
  background-color: #b0d9e5;
  border-radius: 15px !important;
  padding: 10px;
  width: fit-content;
}

.compImg{
  margin: 4px auto;
  height: 2rem;
  width: auto;
}

.dropdownImgs{
  display: flex;
  flex-wrap: wrap;
}

.weakTitle, .strongTitle{
  background-color: rgb(237, 237, 237, 0.8);
  border-radius: 5px;
  display: flex;
  width: 98%;
  text-align: center;
  cursor: pointer;
  margin: 5px auto;
  padding: 4px;
  justify-content: center;
}


.weakTitle:hover, .strongTitle:hover{
  background-color: #d6d6d6;
  transition: 0.5s ease-in;
}


.weakContent, .strongContent{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 20rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}


.weakContent img, .strongContent img {
  width: 7rem; /* Set a fixed width (adjust as needed) */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; 
  flex-shrink: 0; 
}

.weakTitle img, .strongTitle img{
  opacity: 0.8;
  width: 1.6rem;
  height: auto;
}

@keyframes flipArrow {
  from {
    transform: rotate(0)
    
  } to {
    transform: rotate(180deg)
  }
}

@keyframes flipArrowBack {
  from {
    transform: rotate(180deg)
  } to {
    transform: rotate(0deg);
  }
}

.flip{
  animation: flipArrow 1s ease forwards;
}

.flipBack{
  animation: flipArrowBack 1s ease forwards;
}


/* @media screen and (max-width: 800px){
  .pokeContainer{
    display: flex;
    flex-direction: column;
  }  
} */

@media screen and (max-width:700px){
  .weakContent, .strongContent{
    width: 8rem;
  }
  .weakTitle img, .strongTitle img{
    height: 2rem;
    width: auto;
  }
  .weakTitle, .strongTitle{
    width: 100%;
  }
}

@media screen and (max-width: 500px){
  .mainImg{
    margin: 5px auto;
    height: 5rem;
    width: auto;
  }

  .weakTitle img, .strongTitle img{
    margin: auto 0px;
    height: 1rem;
    width: auto;
  }
}

@media screen and (max-width:360px){
  .stats{
    width: min-content;
  }
}


.helpIcon, .exitIcon{
  background-color: #d6d6d6;
  padding: 5px 14px;
  border-radius: 5px;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}
.helpIcon:hover, .exitIcon:hover{
  transform: scale(1.05);
  transition: 0.25s ease-in-out;
  background-color: #c2c2c2;
}

.active{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: absolute;
  z-index: 100;
}
.inactive{
  display: none;
}

.infoBox{
  padding: 2rem;
  border-radius: 15px;
  border: 2px solid #ffffff;
  color: #ffffff;
  max-width: 85%;
}

